# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# pip log
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Local development logs
*.log
